<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d1cb35e3-a53c-4653-9795-0bae21b37077" Publisher="CN=AmmarAlam" Version="1.0.0.0" />
  <Properties>
    <DisplayName>NewsStand</DisplayName>
    <PublisherDisplayName>AmmarAlam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NewsStand.App">
      <m2:VisualElements DisplayName="NewsStand" Square150x150Logo="Assets/news.png" Square30x30Logo="Assets\SmallLogo.png" Description="NewsStand" ForegroundText="light" BackgroundColor="#13015F">
        <m2:DefaultTile DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>